[submodule "MaaCommonAssets"]
	path = MaaCommonAssets
	url = https://github.com/MaaXYZ/MaaCommonAssets.git
[submodule "Android/MaaFwApp"]
	path = Android/MaaFwApp
	url = https://github.com/whangb11/MaaFwApp.git
	branch = main
